{% extends "layout.html" %}
{% block title %}Bulls and Cows{% endblock %}
{% block page %}Bulls and Cows{% endblock %}

{{ super() }}

{% block content %}
    <h1>Bulls and Cows</h1>
    {% if is_authenticated %}
        <p> Welcome {{current_user.username}} </p>
    {% endif %}
    <p>This is a game we're gonna try</p>

<div class="column" id="gamerow">
    <form id="Square" class="row">
      <div id="inputbox1" class="column" style="display: inline-block"><input type="text" maxlength="1" class="wordleInput" placeholder="?"></div>
      <div id="inputbox2" class="column" style="display: inline-block"><input type="text" maxlength="1" class="wordleInput" placeholder="?"></div>
      <div id="inputbox3" class="column" style="display: inline-block"><input type="text" maxlength="1" class="wordleInput" placeholder="?"></div>
      <div id="inputbox4" class="column" style="display: inline-block"><input type="text" maxlength="1" class="wordleInput" placeholder="?"></div>
    </form>
</div>
{% endblock %}